{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block content %}

<h4 class="fw-bold mb-4">Items / Products</h4>

<div class="card shadow-sm">
    <div class="card-body">

        <div class="d-flex justify-content-between mb-3">
            <input class="form-control w-25" placeholder="Search item">
            <a href="/items/add" class="btn btn-success">+ Add Item</a>
        </div>

        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Item Name</th>
                    <th>HSN</th>
                    <th>Rate</th>
                    <th>GST %</th>
                    <th>Stock</th>
                    <th width="120">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sunflower Oil</td>
                    <td>151219</td>
                    <td>₹120</td>
                    <td>5%</td>
                    <td>250</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary">Edit</a>
                        <a class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
